#main {
  text-align: center;
  width: 400px;
  margin-left: 40%;
  margin-right: 40%;
  background: #ffffff;
}

#calculator-body {
  text-align: center;
  border: 3px solid #000;
  margin: 10px;
  background: #02111b;
  border-radius: 10px;
}

#input-div {
  text-align: start;
}

#screen {
  background: #ffffff;
  height: 100px;
  margin: 4px;
  border: 2px solid #000;
  margin-bottom: 30px;
}

h2 {
  font-weight: normal;
  margin-bottom: 0px;
}

span {
  text-align: start;
  display: inline-block;
  animation: flash 1s linear infinite alternate;
  font-weight: bold;
  vertical-align: bottom;
}

@keyframes flash {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#input {
  display: inline-block;
  text-align: start;
  margin-left: 16px;
  overflow-x: auto;
}

#result {
  text-align: end;
  margin-right: 16px;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#buttons button {
  margin: 0px;
  font-weight: normal;
  font-size: 26px;
  color: rgb(0, 0, 0);
  background: #ffffff;
  height: 3em;
}

#buttons button:hover {
  opacity: 65%;
}

.delete {
  background: #ba1200 !important;
  color: #ffffff !important;
  border: 1px solid rgb(161, 13, 13);
}

.operator {
  background: #e16036 !important;
  color: #ffffff !important;
}
